- defaults = { label: false }
- html = { method: :put, class: 'form-auth' }
= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: html, defaults: defaults) do |f|
  %h2.form-auth-heading= t('auth.edit_profile')
  = f.error_notification
  = f.input :email, required: true, autofocus: true
  - if devise_mapping.confirmable? && resource.pending_reconfirmation?
    %p
      Currently waiting confirmation for: #{resource.unconfirmed_email}
  = f.input :password, autocomplete: "off", hint: t('auth.leave_blank_if_dont_want_to_change'), required: false
  = f.input :password_confirmation, required: false
  = f.input :current_password, hint: t('auth.we_need_you_current_password_to_confirm_changes'), required: true
  = f.button :submit, class: 'btn btn-large btn-primary btn-block'
  %h3= t('auth.cancel_my_account')
  %p
    = t('auth.unhappy')
    = link_to t('helpers.auth.cancel_my_account'),
      registration_path(resource_name),
      data: { confirm: t(:are_you_sure) },
      method: :delete,
      class: "btn btn-danger"
