= render 'questionnaires/form', questionnaire: @questionnaire

#questions
  %h3
    = t('questions.title')
    = link_to '#new_question', class: 'btn' do
      %i.icon-plus

  - @questionnaire.question_list.each do |question|
    .row{id: dom_id(question)}
      .well
        %h5= question.title
        .answers
          %ul
            - question.answers.each do |answer|
              %li= answer.content
        - if question.parents.present?
          .parents
            %h6= Question.human_attribute_name(:parents)
            %ul
              - question.parents.each do |parent|
                %li= parent.title

- defaults = { input_html: { class: 'input-xxlarge' } }
- html = { class: 'form-horizontal' }
= simple_form_for [@questionnaire, @question], html: html, defaults: defaults do |f|

  .control-group{class: ('error' if @question_form.try :errors?, :title)}
    = f.label :title
    .controls
      = f.input_field :title
      - if @question_form.try :errors?, :title
        %span.help-inline= @question_form.errors_for :title

  = f.input :description

  .control-group{class: ('error' if @question_form.try :errors?, :answers)}
    %label.control-label= t('questions.answer_number', number: 1)
    .controls
      = text_field_tag "question[answers][][content]", '', id: "question_answer_content_0", class: 'large-answer-field answer'
      - if @question_form.try :errors?, :answers
        %span.help-inline= @question_form.errors_for :answers

  .control-group
    %label.control-label= t('questions.answer_number', number: 2)
    .controls
      = text_field_tag "question[answers][][content]", '', id: "question_answer_content_1", class: 'answer-field answer'
      = link_to '#add-answer', class: 'btn', id: 'js-add-answer', data: { :'label-pattern' => answer_label_pattern} do
        %i.icon-plus

  = f.input :possible_parents, as: :select, input_html: { multiple: true },
    collection: collection_of_parents(@questionnaire)
  .form-actions
    = f.button :submit, class: 'btn btn-primary'

